.description {
  display: flex;
  flex-direction: column;
  max-width: 1065px;
  padding: 92px 24px 0;
  color: #ffffff;
}

@media screen and (max-width: 800px) {
  .description {
    padding-top: 55px;
  }
}

@media screen and (max-width: 400px) {
  .description {
    padding: 44px 16px 0;
  }
}
