.cities__author {
  grid-area: title;
  background: none;
  grid-column-start: 2;
  grid-row-start: 3;
  margin: auto auto auto 0;
  grid-row-end: 2;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
