.cities__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(0, 47%) 40px minmax(0, 49%);
  grid-template-columns: minmax(0, 47%) minmax(0, 49%);
  grid-template-areas:
    "title artist"
    "img text";
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
  margin: 0;
  padding-bottom: 90px;
}

@media screen and (max-width: 662px) {
  .cities__items {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(0, 100%);
    grid-template-columns: minmax(0, 100%);
    grid-template-areas:
      "title"
      "artist"
      "img"
      "text"
      "link";
    padding-bottom: 84px;
  }
}
