.cities__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr repeat(2, 1fr) 0.5fr;
  grid-template-areas:
    "title title"
    "img text"
    "img text"
    "link .";
  row-gap: 48px;
  column-gap: 40px;
}
