.cities__author-container {
  background: none;
  grid-area: artist;
  margin: auto auto 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media screen and (max-width: 630px) {
  .cities__author-container {
    padding: 30px 16px;
  }
}
