.link {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  background-color: #0278fe;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 1s ease-out;
}

.link:hover {
  background-color: #0063d2;
  cursor: url(../../images/cursor-hover.png), auto;
}
