.footer__link {
  max-width: 198px;
  max-height: 48px;
  align-self: center;
  padding: 13px 20px;
  margin-top: 32px;
}

@media screen and (max-width: 400px) {
  .footer__link {
    margin-top: 16px;
  }
}
