.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  padding: 92px 0 24px 0;
}

@media screen and (max-width: 800px) {
  .footer__copyright {
    padding-top: 88px;
  }
}

@media screen and (max-width: 400px) {
  .footer__copyright {
    padding-top: 64px;
  }
}
