.cover__img {
  background-image: url(../../../images/practicum-city.png);
  background-size: contain;
  background-color: black;
  width: 100%;
  padding-top: 62.5%;
  max-width: 984px;
  background-blend-mode: luminosity;
}
