.grid__container {
  display: -ms-grid;
  display: grid;
  grid-gap: 16px;
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1184px;
  padding: 0;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  .grid__container {
    -ms-grid-columns: 1fr 16px 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 400px) {
  .grid__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
