.cities__link {
  grid-area: link;
  min-width: max-content;
  max-width: 355px;
  max-height: 48px;
  background-color: #0278fe;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
  padding: 13px 20px;
  border-radius: 4px;
  margin: 0;
}

@media screen and (max-width: 740px) {
  .cities__link {
    max-width: 288px;
    font-size: 14px;
    line-height: 17px;
    padding: 16px 21px;
    margin: 24px auto 0;
  }
}
