.cities__link {
  grid-area: link;
  max-width: 355px;
  max-height: 48px;
  padding: 13px 20px;
  margin: 0;
  margin-bottom: auto;
}

@media screen and (max-width: 740px) {
  .cities__link {
    max-width: 288px;
    font-size: 14px;
    line-height: 17px;
    padding: 16px 21px;
    margin: 24px auto auto;
  }
}
