.cities__title {
  margin: 0;
  max-width: 460px;
  width: 100%;
  grid-area: title;
  text-align: start;
}

.cities__title_large {
  max-width: 700px;
  -ms-grid-column-span: 3;
  grid-column-end: 3;
}

@media screen and (max-width: 800px) {
  .cities__title {
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 630px) {
  .cities__title {
    -ms-grid-column-span: 2;
    grid-column-end: 2;
    font-size: 32px;
    line-height: 35px;
    max-width: 100%;
    padding: 0 16px;
  }
}
