.grid {
  padding: 92px 24px 0;
}
@media screen and (max-width: 800px) {
  .grid__container {
    padding-top: 64px;
  }
}

@media screen and (max-width: 400px) {
  .grid__container {
    padding: 32px 16px 0;
  }
}
